/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* VARIABLES */

:root{
    --bg-body : #1f212c;
    --primary-color : #2c5bff;
    --fontSize-title: 40px
    --fontSize-parrafos: 20px;
}

body{
    background: var(--bg-body);
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
}

p,a,li,td,input,label{
    font-family: "Work Sans", sans-serif;
}

header{
    padding-top: 150px;
}

nav.bg-gym{
    background: var(--bg-body);
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    top: 30px;
}

nav .navbar-brand img{
    width: 200px;
}

nav.bg-gym ul li{
    margin-top: 14px 
}

nav.bg-gym ul li a{
    color: #fff;
    position: relative;
    font-size: 20px;
    margin: 0 12px;
}



nav.bg-gym ul li a::after{
    width: 0;
    height: 20px;
    background: transparent;
    content: "";
    position: absolute;
    bottom: 20px;
    left: 10px;
    transition: .4s;
}

nav.bg-gym ul li a:hover{
    color: var(--primary-color);

}

nav.bg-gym ul li a:hover::after{

    background:var(--primary-color) ;
    width: 40%;
}
    
nav.bg-gym ul li.login{
    margin-left: 300px;
    margin-right: 30px ;
}

nav.bg-gym ul li.registro a{
    display: block;
    padding: 12px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    color: #fff;
    background: var(--primary-color);
    border-radius: 40px;
}

/* HERO */

#hero{
    padding: 160px 0;

}

#hero .cont-foto{
    position: relative;
    width: 400px;
}

#hero .cont-foto img{
    z-index: 2;
    position: relative;
    width: 400px;
}

#hero .cont-foto::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: -40px;
    left: 40px;
    background: var(--primary-color);

}

#hero .cont-info{
    padding-left: 60px;
}

#hero .cont-info h1{
    color: #fff;
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: 700;
    
}

#hero .cont-info h1 span{
    border-bottom: 12px solid #fff ;
}

#hero .cont-info p{
    color: #c6c6c6;
    font-size: 20px;
    margin-bottom: 60px;
}

#hero .cont-info .destacada h2{
    color: #fff;
    font-size: var(--fontSize-title);

}

#hero .cont-info .destacada p{
    font-size: 14px;
}

/* SERVICIOS */

#servicios{
    width: 100%;
    position: relative;
    padding: 70px 0 100px;
    text-align: center;
}

#servicios h2{
    color: #fff;
    font-size: 50px;
    font-weight: 900;
}

#servicios p{
    color: #c6c6c6;
    font-size: 20px;
    margin-bottom: 80px;
}

#servicios.row{
    padding-top: 70px;
}

#servicios .card-service{
    background: #292c36;
    border-radius: 4px;
    position: relative;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    text-align: left;
    transition: .4s;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 70px;
}

#servicios .card-service:hover{
    background: var(--primary-color);
}



#servicios .card-service img{
    background: #fff;
    width: 70px;
    padding: 15px;
    border-radius: 4px;
    position: absolute;
    top: -30px;
    left: 30px;
}

#servicios .card-service h3{
    text-align: right;
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

#servicios .card-service h4{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    margin-bottom: 15px;
}

#servicios .card-service p{
    font-size: 15px;
    color: #c6c6c6;
    text-align: left;
    line-height: 30px;
    margin-bottom: 15px;
}

#servicios .card-service a{
    color: #c6c6c6;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid #c6c6c6;
}

/* Clases destacadas */
#cdestacadas{
    width: 100%;
    position: relative;
    text-align: left;
    padding: 50px 0 100px;
}

#cdestacadas h2{
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
}

#cdestacadas h2::after{
    width: 70%;
    height: 2px;
    background: #fff;
    position: absolute;
    content: "";
    right: 0;
    top: 52%;
}

#cdestacadas .card-destacadas{
    
    border-radius: 4px;
    position: relative;
}

#cdestacadas .card-destacadas img{
    width: 100%;
    border-radius: 4px 4px 0 0;
}

#cdestacadas .card-destacadas .cont-info{
    background: #292c36;
    padding: 14px;
    border-radius: 0 0 4px 4px;
    transition: .4s;
}

#cdestacadas .card-destacadas .cont-info:hover{
    background: var(--primary-color);
}



.card-destacadas .cont-info h3{
    font-size: 25px;
    color: #fff;
    font-weight: 600;

}

.card-destacadas .cont-info p{
    color: #c6c6c6;
    font-size: 16px
}

/* Planes */

#planes{

    width: 100%;
    position: relative;
    text-align: center;
    padding: 40px 0 100px;
    
}

#planes h2{
    color: #fff;
    font-size: var(--fontSize-title);
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 30px;
}

#planes p{
    font-size: --fontSize-parrafos;
    color: #c6c6c6;
}

#planes .lapso{
    background: #292c36;
    margin-top: 50px;
    padding: 50px 70px;
    border-radius: 20px;
    text-align: left;
}

#planes .lapso ul{
    border: 0 transparent;
    margin-bottom: 50px;
    background: #3f434f;
    max-width: 220px;
    padding: 10px;
    border-radius: 50px;
}

#planes .lapso ul li button{
    background: transparent;
    color: #fff;
    border-radius: 30px;
    width: 100px;
    border: 0 transparent;

}

#planes .lapso ul li button.active{
    background: var(--primary-color);
}

#planes.lapso p{
    margin-bottom: 40px;
    position: relative;
}

#planes .lapso p::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 10px;
    right: 0;
    top: 10px;
}

#planes .plan{
    background: transparent;
    padding-top: 20px;

}

#planes .plan .accordion{
    background: transparent;
}

#planes .plan .accordion-item,#planes .plan .accordion-item button{
    background: transparent;
}

#planes .plan .accordion-item{
    border-radius: 20px;
    margin: 30px ;
    border: 1px solid #fff;
}

#planes .plan h2{
    margin: 0;
    padding: 0;
    color: #fff;
    
}

#planes .plan .accordion-item button{
    color: #fff;
    box-shadow: 0 0 0 transparent;
    padding: 45px;
    border-radius: 20px;
    font-size: 20px;
}

#planes .plan .accordion-item .accordion-body{
   color: #fff; 
   font-size: var(--fontSize-parrafos);
}

#planes .plan .accordion-item button.accordion-button{
    background: var(--primary-color) ;

}

#planes .plan .accordion-item button.accordion-button.collapsed{
    background: transparent;
}

/* Comentarios */

#comentarios{
    text-align: center;
    width: 100%;
    position: relative;
    padding: 40px 0 100px;
    color: #fff;
}

#comentarios .carousel-item{
    background: var(--primary-color);
    padding: 120px 80px;
    border-radius: 20px;
}

#comentarios .carousel-item h3{
    font-size: 40px;
    margin-bottom: 20px;
}

#comentarios .carousel-item button{
    padding: 20px 40px;
    background: transparent ;
    border: 2px solid #fff;
    color: #fff;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 30px;

}

footer{
    padding: 30px;
    background: #292c36;
    text-align: center;
    color: #fff;
}

footer img{
    width: 220px ;
}

/* Resposive */

@media screen and (min-width:320px) and (max-width:990px){
    header nav button .navar-toggler{
        background: var(--primary-color);
    }

    nav.bg-gym ul li.login{
        margin-left: 0;
        margin-right: 0;
    }

    nav.bg-gym ul li.registro a{
        display: inline-block;
    }

    #hero{
        text-align: center;

    }

    #hero .cont-foto{
        width: 100%;
    }

    #hero.cont-foto::before{
        left: 0;
        
    }

    #cdestacadas h2::after{
        width: 25% ;
    }



    


    
}